{% load static thumbnail %}
<div>
    <div class="biography">
        <h2>{{ person.first_name }} {{ person.last_name }}{% if person.suffix %}<small>, {{ person.suffix }}</small>{% endif %}
        {% if person.title %}
            <br />
            <small>{{ person.title }}{% if person.employer %}, {{ person.employer }}{% endif %}</small>
        {% endif %}
        </h2>
    </div>
    <div class="biography right">
        {% if person.image %}
            <img src="{{ person.image|thumbnail_url:'badge' }}" alt="image of {{ person.first_name }} {{ person.last_name }}" />
        {% endif %}
    </div>
</div>
<div>
    <div class="biography">
        {% if instance.short_description %}
            {{ instance.short_description|safe }}
        {% else %}
            {{ person.description|safe }}
        {% endif %}
        {{ instance.event_description|safe }}
    </div>
</div>